1 let introduction = { </br>
2  name: "Sabrina Koumoin", </br>
3    bio:"Hi there!", </br>
4   passions: "Coding" + "Web dev" + "Web design"</br>
5 }
1 let introduction = { </br>
    2  name: "Sabrina Koumoin", </br>
    3    bio:"Hi there!", </br>
    4   passions: "Coding" + "Web dev" + "Web design"</br>
    5 }
    1 let introduction = { </br>
        2  name: "Sabrina Koumoin", </br>
        3    bio:"Hi there!", </br>
        4   passions: "Coding" + "Web dev" + "Web design"</br>
        5 }
        1 let introduction = { </br>
            2  name: "Sabrina Koumoin", </br>
            3    bio:"Hi there!", </br>
            4   passions: "Coding" + "Web dev" + "Web design"</br>
            5 }