#about-me {
  width: 100vw;
  height: 100vh;
}

.outer-circle {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  background-image: linear-gradient(to right, #fe19aa, #ffbd59);
  clip-path: circle();
  shape-outside: circle();
}

.inner-circle {
  background-color: white;
  border-radius: 50%;
  position: relative;
  bottom: 12.5%;
  left: 8%;
  width: 17vw;
  height: 17vw;
}

.circle-content {
  text-align: center;
  position: relative;
  top: 40%;
}

.circle-content h1 {
  font-family: Nickainley;
  font-size: 4vw;
}

#left-brain-circle {
  float: right;
}

#about-me-left-top {
  padding: 1vw;
  width: 46vw;
}

#about-me-left-bottom {
  padding: 1vw;
  position: relative;
  top: -17vw;
  width: 46vw;
}

#about-me-right-top {
  position: relative;
  bottom: 10vw;
  padding: 1vw;
  left: 50vw;
  width: 50vw;
}

@media only screen and (max-width: 500px) {
  #about-me-left-top {
    padding: 1vw;
    min-width: 100%;
    font-size: 4vw;
  }
  #about-me-left-bottom {
    padding: 1vw;
    position: static;
    top: -15vw;
    min-width: 100%;
    font-size: 4vw;
  }
  #about-me-right-top {
    position: static;
    bottom: 10vw;
    padding: 1vw;
    left: 50vw;
    min-width: 100%;
    font-size: 4vw;
  }
  #left-brain-circle {
    float: left;
  }
}
