header {
  height: 30vw;
  width: 100vw;
  padding-top: 5vw;
}

nav {
  overflow: hidden;
  box-shadow: aliceblue;
  width: 98vw;
  height: 10.5vw;
  padding: auto;
}

#phone-nav {
  display: none;
}

.nav-link {
  position: relative;
  float: right;
  top: 20%;
  font-family: Dosis;
  margin-left: 2vw;
  font-size: 2.3vw;
}

.social-media-icon:hover {
  width: 5%;
}

@keyframes flipY {
  from {
  }
  to {
    -webkit-tansform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: 2s;
  }
}

.flip-hover:hover {
  animation: flipY;
  animation-duration: 2s;
}

#sim-editor {
  font-family: Monaco;
  font-size: 1.5vw;
  margin-right: -34vw;
  margin-bottom: 10vw;
  padding: 1vw;
}

#header-left {
  display: inline-block;
  width: 50%;
  height: 30vw;
  position: absolute;
  z-index: 1;
  padding: 1vw;
  margin-top: -3vw;
}

#center-pic {
  float: right;
  clip-path: circle();
  shape-outside: circle();
}

#header-right {
  display: inline-block;
  background-color: transparent;
  width: 49%;
  height: 30vw;
  position: absolute;
  left: 50.5vw;
  z-index: 0;
  padding: 3%;
}

#right-pic {
  position: relative;
  bottom: 10.5vw;
  right: 25vw;
  background-color: transparent;
}

@media only screen and (max-width: 500px) {
  #sim-editor {
    font-size: 5vw;
  }
  nav {
    display: none;
  }
  #phone-nav {
    display: inline-block;
    font-family: Dosis;
    font-size: 6vw;
    padding: auto;
    color: black;
    width: 100%;
    font-weight: 50px;
  }
}
