#my-work{
    width:100vw;
    height:100vh;
}

.outer-square{
    width:30vw;
    height:30vw;
    background-image: linear-gradient(to right,#fe19aa,#ffbd59);
    float:right;
    // border:solid black;
    z-index:-1;
}

.border-triangle{
    border:solid;
    border-width:15vw 15vw 15vw 15vw;
    border-color:white transparent white white;

}

#work-section{
    position:absolute;
    // border:solid red;
    width:100vw; //was 69
    height:80%;
    z-index: 1;
}

.work-nav{
    font-family: Dosis;
    font-size:3vw;
    &:hover{
        font-size:4vw;
        color:#fe19aa;
    }
}


#work-flex-container{
    // background-color:yellow;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.work-flex-item{
    // border:solid black;
    height:300px;
    width:30%; //40
    margin-bottom:3%; 
    // padding:5%;
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
}

.item-info{
    // border:solid black;
    // border-width:2px;
    // border-radius:50%;
    // background-color:white;
    padding:3%;
    position:relative;
    top:100%
}