@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  -moz-transform: translateY(0);
	  transform: translateY(0);
	}
	40% {
	  -moz-transform: translateY(-30px);
	  transform: translateY(-30px);
	}
	60% {
	  -moz-transform: translateY(-15px);
	  transform: translateY(-15px);
	}
  }
  @-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
	40% {
	  -webkit-transform: translateY(-30px);
	  transform: translateY(-30px);
	}
	60% {
	  -webkit-transform: translateY(-15px);
	  transform: translateY(-15px);
	}
  }
  @keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  -moz-transform: translateY(0);
	  -ms-transform: translateY(0);
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
	40% {
	  -moz-transform: translateY(-30px);
	  -ms-transform: translateY(-30px);
	  -webkit-transform: translateY(-30px);
	  transform: translateY(-30px);
	}
	60% {
	  -moz-transform: translateY(-15px);
	  -ms-transform: translateY(-15px);
	  -webkit-transform: translateY(-15px);
	  transform: translateY(-15px);
	}
  }
  body {
		background: radial-gradient(ellipse farthest-corner at center top, #1ccea6,#2f61e2);
  }
  .container {
	height: 100vh;
  }
  .below {
	height: 100vh;
  }
  i {
	display: block;
	color: #fff;
  }
  .arrow {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 60px; /*change with size of arrow to make sit on bottom */
  /*   background-image: url(); */
  /*   background-size: contain; */
  }
  
  .bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
  }
  